.App {
  text-align: center;
}
body{
  background-color: black;
}
@media only screen and (min-width:900px){
  body{
    background-color:#61dafb;
  }
  .product img{
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width:600){
  body{
    background-color: black;
  }
  .container{
    width: 100%;
  }
  .product-img{
    object-fit: cover;
  }
}
.container{
  background: white;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  height: 180vh;
}
.card-all{
  box-shadow: rgba(18, 195, 234, 0.845) 0px 5px 15px;
  margin-bottom: 5px;
}
.border-primary{
  background-color:black;
  color: white;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 30px;
}
.border-primary .card-img-top{
 border-top-right-radius: 30px;
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
 border-bottom-right-radius:30px ;
}
.card-img-top{
  padding: 20px;
  height: 50vh;
  border-radius: 20px;
}
.border-primary .card-body{
  font-weight: bold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.product{
   border: 1px solid red;
   background-color:darkgray ;
   border-radius: 30px;
   padding: 30px;
   color:gold;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
